.container-list {
  width: 800px;
  background-color: rgb(245, 245, 245);
  padding: 2rem;
  border-radius: 5px;
  height: 300px;
  overflow-y: scroll;
}

.container-list__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid white;
}

.container-list__item i {
  margin-right: 1rem;
  cursor: pointer;
}

.container-list__item i:hover.edit-i {
  color: rgb(41, 168, 9);
}

.container-list__item i:hover.alert-i {
  color: rgb(255, 0, 0);
}
